
/*body*/
:root{
    --brand-color:#2E2F42;
    --second-brand-color:#4D5AE5;
    --basic-font-family:'Roboto',sans-serif;
    --basic-background-color:#FFFFFF; 
}

body {
    font-family:var(--basic-font-family);
    color:var(--brand-color);
    background-color:var(--basic-background-color);
    
}

.list{
    list-style: none;
    
}

.link{
    text-decoration: none;
}
/*============================HEDER========================*/
/*logo*/
.blue {
    color:var(--second-brand-color);
    
}

.black {
    color:var(--brand-color);
    
}
.logo{
font-family: 'Raleway';
    font-weight: 800;
    font-size: 18px;
    line-height: 1.3;
    background-color: #FFFFFF;
    text-transform:uppercase;
    

}
.logo:focus{
    color:var(--second-brand-color);
}

/*menu*/
.menu 
{
    font-weight: 600;
    font-size: 16px;
    line-height: 1.5;
    color: #2E2F42;
    background-color: #FFFFFF;
}

.menu:hover,
.menu:focus{
    color: var(--second-brand-color);
}

.email
{
        font-weight: 400;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #434455;
        background-color: #FFFFFF;
}
.email:hover,
.email:focus {
    color: var(--second-brand-color);
}

.phone-namber{

        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
    color: #434455;
    background-color: #FFFFFF;
}

.phone-namber:hover,
.email:focus{
    color: var(--second-brand-color);
}


/*========================================Main==============*/

.hero{
background-color: #434455;
}


.hero-title{
        font-weight: 600;
        font-size: 56px;
        line-height: 1.0;
        letter-spacing: 0.02em;
        color:#FFFFFF;
}

.btn{
        font-family:var(--basic-font-family);
        font-weight: 600;
        font-size: 16px;
        line-height: 1.2;
        display: flex;
        align-items: center;
        letter-spacing: 0.04em;
        color: #FFFFFF;
        background-color:var(--second-brand-color);
        cursor: pointer;
}

.features{
    font-weight: 600;
        font-size: 20px;
        line-height:1.2;
        letter-spacing: 0.02em;
}
.info{
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #434455;
}
/*===================About===========*/
.caption{
    font-weight: 600;
    font-size: 36px;
    line-height: 1.1;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
}
/*=====================TEAM==========*/
.caption-three{
    font-weight: 600;
        font-size: 36px;
        line-height: 1.1;
        text-align: center;
        letter-spacing: 0.02em;
        text-transform: capitalize;
}
.name-team{
    font-weight: 600;
        font-size: 20px;
        line-height: 1.2;
        letter-spacing: 0.02em;
}

.subtitle{
        font-size:16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color:#434455;
}
/*========================FOOTER==============================*/
.footer{
        font-size:16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color:#E7E9FC;
        background-color:var(--brand-color) ;
}
/*==================================PAGE2=====================*/
.butons{
    font-weight: 600;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.04em;
        color: var(--second-brand-color);
        background-color:#F4F4FD;
        cursor: pointer;        
}
.butons:hover,
.butons:focus {
    color: #F4F4FD ;
    background: var(--second-brand-color);;
}

.meta{
font-weight: 600;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color:var(--brand-color);
}
.tooltip{
        font-size:16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
}
.features-list{
        font-size:16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color:#434455;
}